body {
    font-family: 'Edu TAS Beginner', cursive;
    font-size:30px;
    color: white;
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


h1 {
    text-align:center;
}

.winner {
    display: hidden;
}

.game-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    gap: 20px;
    justify-content: center;

}

.box {
    text-align: center;
    width: 75px;
    height: 70px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 3px 3px 3px rgb(34, 6, 55);
    cursor: pointer;
    animation: mymove 15s infinite alternate;
}

.x {
    background-color: rgb(198, 138, 255); 
    text-align: center;
    width: 75px;
    height: 70px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 3px 3px 3px rgb(34, 6, 55);
    cursor: pointer;
}
.o {
    background-color: rgb(255, 156, 245);
    text-align: center;
    width: 75px;
    height: 70px;
    font-weight: bold;
    font-size: 40px;
    box-shadow: 3px 3px 3px rgb(34, 6, 55);
    cursor: pointer;
}

@keyframes mymove {
   0% {
    background-color: rgb(255, 63, 210);
   }
   25% {
    background-color: rgb(195, 0, 255);
   }

    45% {
     background-color: rgb(89, 0, 255);
    }
    65% {
     background-color: rgb(21, 0, 255);
    }
    85% {
     background-color: rgb(222, 34, 255);
    }
    
    100% {
     background-color: rgb(5, 130, 238);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*Button Styles */

.button {
    cursor: pointer;
    visibility: hidden;
}

.input {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.input:hover {
    outline: none;
}
.round {
    transition: 0.3s ease;
    border: none;
    border-radius: 30px;
}
.roundB {
    background-color: rgb(195, 122, 255);
    box-shadow: inset 0 0 30px gray;
}
.roundB:hover {
    box-shadow: inset 0 0 10px rgb(128, 128, 128);
    color: rgb(0, 0, 0);
    background-color: rgb(243, 205, 255);
}